* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 10px;
    min-height: 10px;
}

h1 {font-size: 4rem; font-family: 'Comforter';padding-bottom: 1rem;} /*LOGO*/
h2 {font-size: 2rem;}
h3 {font-size: 1.5rem;}
h4 {font-size: 1.3rem;}

a {text-decoration: none; color: black;}

img {max-width: 100%; max-height: 100%;}

li {list-style: none;margin-bottom: 1rem;}

.bgc1 {background-color:#e4e4e4} 
.bgc2 {background-color: #cfcfcf;}
.shadow {box-shadow: 0 3px 1px 0px rgb(26, 26, 26);}
.bordernone {border: none;}

.textbtn {
    display: inline-block;
    color: black;
    text-align: center;
}
.textbtn--selected { font-weight: bold;}
.textwhite {color: white;}

.flex {display: flex}
.flexcol {display:flex; flex-direction: column;}
.flexwrap {flex-wrap: wrap;}

.buttons {
    background-clip: padding-box;
    background-color: rgb(61, 61, 61);
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    min-height: 3rem;
    padding: 0.8rem 1.5rem;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: .25rem;
    white-space: break-spaces;
}

.separator {
    justify-content: space-evenly;
    align-items: center;
    margin: 2rem 0;
    flex-basis: 100%;
}
.separator__line {
    flex-basis: 100%;
    height: 2px;
    min-height: 0;
    background-color: #44444434;
}
.separator__title {
    flex-shrink: 0;
    padding: 0 1rem;
    color: #444444;
}

.shopitem {
    position: relative;
    align-items: center;
    justify-content: end;
    min-width: calc((100% / 5) - (4rem / 5)); /*maximo 5 shopitems por fila */
    max-width: 18rem;
}

.pricetag {
    position: absolute;
    box-sizing: content-box;
    padding: 0.5rem 2rem;
    border-radius: 4px;
    background-color: rgb(68, 68, 68);
    color: white;
}

.grid {
    display: grid;
    grid-template-areas:".. header header"
                        "nav nav nav"
                        ".. main .."
                        "footer footer footer";
    grid-template-columns: 15% 1fr 15%;
}


/* ===== HEADER ===== */
.header {
    grid-area: header;
    display: grid;
    grid-template-columns: auto 1fr minmax(10%, auto);
    max-height: 4rem;
    margin-bottom: 1rem;
}

.header__logo {
    display: inline-block;
    color: rgb(56, 55, 55);
    grid-row: 1/2;
}

.header__account {
    grid-area: 1/3 / 2/4;
    display: flex;flex-direction: row;
    justify-content: space-between;
    justify-self: stretch;
    align-self: flex-start;
    background-color: #4e4e4e;
    border: 1px solid transparent;
    box-shadow: 0 3px 1px 0px rgb(26, 26, 26);
    margin: 1rem 1rem 0 0

} .header__account > * {align-self: center;}


/* ===== NAV ===== */
.nav {
    grid-area: nav;
    justify-content: end;
    align-items: center;
    margin-bottom: 2rem;
}
.nav__navitems {display: block;}
.nav__navitems > * {padding: 1rem;}
.nav__navitems__mobile {display: none; padding: .5rem;}

.nav .nav__cart {
    color: white;
    font-size:2.3rem;
    margin-right: 1.5rem;
}

/* ===== FOOTER ===== */
.footer {
    grid-area: footer;
    margin-top: 2rem;
    padding: 1rem 2rem 2rem 2rem;
    justify-content: center;
    gap: 1rem;
    box-shadow: 0 3px 1px 0px rgb(26, 26, 26) inset;
}
.footer__itemscont {
    background-color: rgb(201, 200, 200);
    border-radius: 4px;
    padding: 1rem;
    height: 11rem;
    width: 22rem;

    gap: 1rem;justify-content: center;
    box-shadow: 0 3px 1px 0px rgb(26, 26, 26);
}
.footer_newsletter {
    justify-content: space-evenly; width: 85%;
}

/*separator*/
.footer .separator {margin: 1rem 0; }
.footer .separator div {background-color: rgb(175, 175, 175);}
.footer .separsator * {color: rgb(255, 255, 255);}

.footer_newsletter input {height: 25%; }

/* icons */
.footer__itemscont > img {align-self: center; max-width: calc((100% / 3) - (2rem / 3));}
.footer__itemscont a {display: flex; align-items: center; gap: .5rem;}
.footer__itemscont > li {display: flex; align-items: center; gap: .5rem;}
.footer__itemscont .material-icons {color: #1b1b1b;}


/* ===== MAIN INDEX.HTML ===== */
.main-index { grid-area: main; padding-bottom: 2rem;}

.main-index__hero {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: auto auto auto;

    text-align: center;
    gap: 2rem 3rem;
    justify-items: center;
}

.main-index__hero__carousel {grid-area: span 1 / span 3;}

.main-index__hero__items {
    justify-self: stretch;
    align-self: stretch;
}

.main-index__bestsellers {
    text-align: center;
}

.main-index__bestsellers__itemscont {
    position: relative;
    justify-content: center;
    gap: 1rem 1rem;
    margin-bottom: 2rem;
}

.main-index__sale__itemscont {
    justify-content: center;
    gap: 1rem 1rem;
}


/* ===== MAIN CONTACTO.HTML ===== */
.main-contacto {
    grid-area: main;
    margin-top: 2rem;
}

.main-contacto__contactinfo {
    padding: 1rem;
    flex-basis: 50%;
    align-items: center;
    gap: 1rem;
}
.main-contacto__contactinfo li {
    display: flex; align-items: center; 
    gap: .5rem;
}

.main-contacto__contactform {
    padding: 1rem;
    width: 50%;
}

.main-contacto__contactform__input {
    margin-bottom: 2rem;
    padding: 1rem;
    height: 3rem;
    font-size: 1rem;
}
.main-contacto__contactform__texta
{
    margin-bottom: 2rem;
    padding: 1rem;
    resize:none;
}
.main-contacto__faq {
    width: 100%;
}
.main-contacto__faq__qa {
    margin-left: 2rem;
    padding-bottom: 0.5rem;
}

/* ===== MAIN DEVOLUCION.HTML ===== */
.main-devolucion { grid-area: main;}
.main-devolucion__list > li {list-style:inherit; margin-left: 2rem;}

/* ===== MEDIA QUERIES =====  */
@media only screen and (max-width:1280px)
{
    .text { padding: 5px 0;}
    .grid {
        grid-template-columns: 0.5rem 7fr 0.5rem;
    }
    .buttons {padding: 0.5rem 1rem;}
    .shopitem {max-width: calc((100% / 3) - (1rem / 3));} /*minimo 3 shopitems por fila */
   

    /* NAV */
    .nav {justify-content: center;}
    .navbtn {width: 100%; text-align: center; margin-bottom: 0.5rem;}
    .nav__navitems {display: block;}
    .nav__navitems__mobile {display: none;}

    /* FOOTER*/
    .footer { flex-wrap: wrap-reverse;}


    /* MAIN INDEX */
    .main-index__hero { gap: 0.5rem 0.5rem;}
    .main-index__bestsellers__itemscont {gap: 0.5rem 0.5rem;}
    .main-index__sale__itemscont {gap: 0.5rem 0.5rem;}


    /* MAIN CONTACTO */
    .main-contacto__contactinfo {flex-basis: 100%; word-break: break-all;}
    .main-contacto__contactform {width: 100%;}
}

@media only screen and (max-width:670px)
{
    .shopitem {max-width: calc((100% / 2) - (0.5rem / 2));} /*minimo 2 shopitems por fila */
    .header__account span { display: none; }

    /* NAV */
    .nav {flex-wrap: wrap; }
    .nav__navitems {
        display: flex; flex-wrap: wrap;
        visibility: visible;
        justify-content: center;
        align-items: center;
    }
    .nav__navitems { display: none; }
    .nav__navitems__mobile { display: flex; justify-content: space-evenly; width: 100%;}

    /* FOOTER*/
    .footer { padding: 0;}
    


    /* MAIN INDEX*/
    .main-index__hero {
        display: flex; flex-direction: column;
    }
    .main-index__hero > a { margin-top: 2rem; }
}

@media only screen and (max-width:360px)
{
    .separator__line { display: none;}
    .separator__title {font-size: 1rem;}
    .buttons {overflow: hidden; text-overflow: ellipsis;}
    .pricetag {display: none;}
    
    /* HEADER */
    .header__logo {overflow: hidden;}


    /* FOOTER */
    .footer {padding: 1rem 0;}
    .footer__itemscont { width: 90vw; text-align: center; overflow: hidden; text-overflow: ellipsis;}

}