.main-tienda { 
    @include flexrow(0, 1);
    grid-area: main;
    display: grid;

    grid-template-areas:
    ".        tittle" 
    "sidebar  productos";
    grid-template-columns: auto 1fr;
    
    @include breakpoint($medium){
        grid-template-areas:
            "tittle" 
            "sidebar"
            "productos";
        grid-template-columns: auto;
    }

    & .separator { grid-area: tittle;}
    
    &__shopitems {
        @include flexrow(0, 1);
        grid-area: productos;
        gap: 1rem;

        @include breakpoint($medium) {
            margin-top: 3rem;
            gap: 0.5rem 0.5rem;
        }
    }
    
    &__sidebar { 
        @include flexcol();
        grid-area: sidebar;

        background-color: rgb(233, 233, 237);
        border: 1px solid rgb(141, 141, 141);
        border-radius: 2px;
        position: sticky; top: 0;
        z-index: 99;
        
        &__stickcont {
            @include flexcol(); position: sticky; top: 0;
            
            &__btn {
                @include flexrow(b); justify-content:space-between;
                gap: 3rem;
    
                & > i {padding-left: 1rem;}
            }

            &__filters {
                background-color:getmap($colors, "shopfilter", "background");
                color:getmap($colors, "shopfilter", "text");

                padding: 1rem;
                border-radius: 2px;
                overflow: hidden;
                transition: height 200ms, padding 200ms;
                height: 100%; /* Fix para la animacion de cerrado*/

                &.hide { padding: 0rem 1rem; min-height: 0; height: 0px;}
                
                & > ul {
                    margin-bottom: 1rem;

                    & > p { /* Nombre de la categoria*/
                        margin-bottom: .5rem;
                        font-weight: bold;
                    }

                    & > li {
                        @include flexrow();

                        & > input { /* Checkbox */
                            cursor: pointer;
                            min-height: 1rem;
                            min-width: 1.5rem;
                        }
            
                        & > label { /* Label */
                            flex-basis: 90%;
                            font-size: 1.5rem;
                            align-self: center;
                            padding: 0 .5rem;
                            cursor: pointer;

                            @include breakpoint($xlarge) {
                                font-size: 1rem;
                            }
                        }
                    } 
                }
            }

            @include breakpoint($medium) {
                position: absolute; width: 100%; 
                height: 200px; /* Fix para la animacion de cerrado*/
                &__btn {
                    justify-content: center;
                    border: 1.5px solid white;
                }

                &__filters {
                    display: flex;
                    justify-content: space-around;
                    
                    padding: 0rem; min-height: 0; height: 0px;
                    &.hide { padding: 1rem 0; min-height: 0; height: 100%;}
                }
            }
        }

        @include breakpoint($medium) {border: none;}
    }
}
