.main-index { 
    grid-area: main;

    &__hero {
        display: grid;
        grid-auto-flow: column;
        grid-template-rows: auto auto auto;
        grid-template-columns: 1fr 1fr 1fr;
        
        gap: 2rem 3rem;
        justify-items: center;
        filter: grayscale(30%);

        & img {min-width: 100%; min-height: 100%;}
        
        &__carouselcont {
            justify-self: stretch; align-self: stretch;
            grid-area: span 1 / span 3; 

            position: relative;
            display: flex;

            .carouselbtn-prev {
                @include flexcol(b);
                position: absolute;
                height: 100%;
                left: 0;
                top: 0;
                
                transition: background-color 500ms;
                background: linear-gradient(270deg, rgba(255,255,255,0) 0%, rgba(255, 255, 255, 0.7) 100%);
                box-shadow: none;
                border: none;
                
                font-size: 4rem;
                cursor: pointer;
                text-shadow: 0px 0px 2px white;

                @include breakpoint($small) {
                    background: linear-gradient(270deg, rgba(255,255,255,0) 0%, rgba(255, 255, 255, 0.4) 100%);
                    font-size: 2rem;
                }
            }

            .carouselbtn-next {
                @extend .carouselbtn-prev;
                left: auto;
                right: 0;
                background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255, 255, 255, 0.7) 100%);
                
                @include breakpoint($small) {
                    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255, 255, 255, 0.4) 100%);
                }
            }

            .carouselbtn-prev:hover, .carouselbtn-next:hover {
                background-color: rgba(255, 255, 255, 0.521);  
                @include breakpoint($medium) {
                    background-color: transparent;
                }
            }

            .carousel {
                display: flex;
                overflow: scroll hidden;
                scroll-behavior: smooth;
                pointer-events: none; /*Fix*/

                /*Esconder scrollbar*/
                scrollbar-width: none; /*Firefox*/
                &::-webkit-scrollbar {display: none;} /* Chrome, Safari, Opera y Edge*/
               
                &__element {
                    flex-shrink: 0;
                    width: 100%;

                    position: relative; z-index: -1;
                    &__text {
                        position: absolute;
                        left: 0; bottom: 0;
                        
                        width: 55%;
                        font-size: 3rem;
                        font-weight: bold;
                        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                        padding: 2rem 0 3rem 4.5rem;
                        text-shadow: 4px 2px 1px #3b3b3b;
                        color: #dfdfdf;

                        @include breakpoint($large)
                        {
                            width: 70%;
                        }
                        @include breakpoint($medium)
                        {
                            font-size: 2rem;
                        }
                        @include breakpoint($small)
                        {
                            text-shadow: 2px 1px 4px #000000;
                            padding: .5rem 0 2rem 2rem;
                            width: 100%;
                            font-size: 1.2rem;
                        }
                    }
                }
            }       
        }     
    
        &__items {justify-self: stretch; align-self: stretch;}
    }

    &__bestsellers {
        text-align: center;

        &__itemscont {
            @include flexrow(h, 1);
            position: relative;

            gap: 1rem 1rem;
            margin-bottom: 2rem;
        }
    }

    &__sale__itemscont {
        @include flexrow(h, 1);
        gap: 1rem 1rem;
    }

    @include breakpoint($large) {
        &__hero { gap: 0.5rem 0.5rem;}
        &__bestsellers__itemscont {gap: 0.5rem 0.5rem;}
        &__sale__itemscont {gap: 0.5rem 0.5rem;}
    }
    @include breakpoint($medium) {
        &__hero {
            @include flexcol();
            & > a { margin-top: 2rem; }
        }
    }
}
