.main-index { 
    grid-area: main;

    &__hero {
        display: grid;
        grid-auto-flow: column;
        grid-template-rows: auto auto auto;
        grid-template-columns: 1fr 1fr 1fr;
        
        gap: 2rem 3rem;
        justify-items: center;
        filter: grayscale(30%);

        & img {min-width: 100%; min-height: 100%;}
    
        &__carousel {
            justify-self: stretch; align-self: stretch;
            grid-area: span 1 / span 3; 
    
            animation-name: carousel;
            animation-iteration-count: infinite;
            animation-duration: 12s;
            animation-timing-function:step-end;
    
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;

            & a {visibility: hidden;}
        }            
    
        &__items {justify-self: stretch; align-self: stretch;}
    }

    &__bestsellers {
        text-align: center;

        &__itemscont {
            @include flexrow(h, 1);
            position: relative;

            gap: 1rem 1rem;
            margin-bottom: 2rem;
        }
    }

    &__sale__itemscont {
        @include flexrow(h, 1);
        gap: 1rem 1rem;
    }

    @include breakpoint($large) {
        &__hero { gap: 0.5rem 0.5rem;}
        &__bestsellers__itemscont {gap: 0.5rem 0.5rem;}
        &__sale__itemscont {gap: 0.5rem 0.5rem;}
    }
    @include breakpoint($medium) {
        &__hero {
            @include flexcol();
            & > a { margin-top: 2rem; }
        }
    }
}
