.main-contacto {
    @include flexrow(0, 1);
    grid-area: main;
    margin-top: 2rem;

    &__contactinfo {
        @include flexrow(h); align-items: flex-start;
        padding: 1rem;
        flex-basis: 50%;
        gap: 1rem;

        & li {
            @include flexrow(v);
            margin-bottom: 2rem;
            gap: .5rem;
            
            img {
                 width: 21px;
            }
        }
    }
    
    &__contactform {
        padding: 1rem;
        width: 50%;

        fieldset {
            @include flexcol();
            border: none;
        }

        &__input {
            margin-bottom: 2rem;
            padding: 1rem;
            height: 3rem;
            font-size: 1rem;
        }

        &__texta {
            margin-bottom: 2rem;
            padding: 1rem;
            resize:none;
        }
    }
    
    &__faq {
        width: 100%;
        
        &__qa {
            margin-left: 2rem;
            padding-bottom: 0.5rem;
        }
    }

    @include breakpoint($medium) {
        &__contactinfo {flex-basis: 100%; word-break: break-all;}
        &__contactform {width: 100%;}
    }
}
