.main-contacto {
    grid-area: main;
    margin-top: 2rem;

    &__contactinfo {
        padding: 1rem;
        flex-basis: 50%;
        align-items: center;
        gap: 1rem;

        & li {
            display: flex; align-items: center;
            margin-bottom: 2rem;
            gap: .5rem;
        }
    }
    
    &__contactform {
        padding: 1rem;
        width: 50%;

        &__input {
            margin-bottom: 2rem;
            padding: 1rem;
            height: 3rem;
            font-size: 1rem;
        }

        &__texta {
            margin-bottom: 2rem;
            padding: 1rem;
            resize:none;
        }
    }
    
    &__faq {
        width: 100%;
        
        &__qa {
            margin-left: 2rem;
            padding-bottom: 0.5rem;
        }
    }

    @include breakpoint($medium) {
        &__contactinfo {flex-basis: 100%; word-break: break-all;}
        &__contactform {width: 100%;}
    }
}
