.nav {
    @include flexrow();
    grid-area: nav;
    justify-content: end;

    background-color: getmap($colors, "nav", "background");
    padding:getmap($layout-boxprops, "nav", "padding");
    margin:getmap($layout-boxprops, "nav", "margin");

    &__navitems {
        display: block;
        & > * {padding: 1rem; color:getmap($colors, "nav", "text");}
        &__mobile {
            @include flexrow(0, 1);
            display: none; padding: .5rem;
        }
        &__mobile * {color: getmap($colors, "nav", "text");}
    }

    @include breakpoint($large) {
        justify-content: center;

        &__navitems {
            display: block;
            &__mobile {display: none;}
        }
    } 
    @include breakpoint($medium) {
        flex-wrap: wrap;
        &__navitems {
            @include flexrow(b, 1);
            visibility: visible;
            display: none;
            &__mobile { 
                display: flex; justify-content: space-evenly; 
                text-align: center; 
                width: 100%;
            }
        }
    }
}

