$default-font: Arial, Helvetica, sans-serif;
$logo-font: 'Comforter';
$itemshop-colorbtn-size: 2rem;
$itemshop-font: Verdana, Geneva, Tahoma, sans-serif;

/*Responsive*/
$xlarge: 1440px !global;
$large: 1024px !global;
$medium: 768px !global;
$small: 425px !global;

$layout-boxprops: (
    header: (
        padding:0,
        margin:0rem
    ),
    nav:(
        padding:0,
        margin:0 0 2rem
    ),
    main:(
        padding:0,
        margin:0
    ),
    footer:(
        padding:1rem 2rem 2rem,
        margin:2rem 0 0 0
    ),
    separator:(
        padding:0,
        margin:2rem 0
    ),
    buttons:(
        padding:0.8rem 1.5rem,
        margin:0
    )
);

$colors: (
    logo: (
        text:#383737
    ),
    header: (
        background:#e4e4e4
    ),
    nav:(
        text:#ffffff,
        background:#474646
    ),
    footer:(
        text:black,
        background:#e4e4e4,
        icons:#1b1b1b
    ),
    separator:(
        text:#444444,
        line:#44444434
    ),
    buttons:(
        text:#fff,
        background:#3d3d3d,
        hover:#646464
    ),
    shopitems:(
        text:white,
        background:#01613e
    ),
    shopfilter:(
        text:black,
        background:#e9e9ed
    ),
    card:(
        text: black,
        background:#f0f0f0
    ),
    grid:(
        background:repeating-linear-gradient( 45deg, #dfdfdf, #eeeeee 800px)
    )
);